streamlit
numpy
pandas
scikit-learn
nltk
requests
langchain
langchain_openai
langchain-ollama
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
groq
beautifulsoup4
langchain-groq
sentence_transformers
google-generativeai
